<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Priceatronic</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"
  </head>
  <body>
    <script src="javascripts/three.min.js"></script>
    <script src="javascripts/priceatronic.js"></script>
    <audio controls autoplay>
      <source src="audio/cylinder_one.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
  </body>
</html>
